{% comment %}
    Adds Bootstrap styled breadcrumbs to page.
    By default the crumbs are: Home / [Cabecera] / current page title.
{% endcomment %}

{% assign item = site.data[site.metadata] | where: "objectid", page.objectid | first %}
{% if item.header %}
  {% assign coll = site.data.headers | where: "id", item.header | first %}
{% endif %}

<ol class="breadcrumb">
    {% if coll %}
    <li class="breadcrumb-item"><a class="text-dark" href="{{ '/headers/' | append: coll.slug | append: '/' | relative_url }}">{{ coll.title }}</a></li>
    {% endif %}
    <li class="breadcrumb-item active text-dark" aria-current="page">{{ page.title | truncatewords: 10 }}</li>
</ol>