
<nav class="navbar navbar-expand-lg sticky-top py-3 px-lg-5 px-3">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="https://gresel-uned.hypotheses.org/" target="_blank" rel="noopener">
            <img class="gresel-logo" src="{{ site.organization-logo-nav | relative_url }}" alt="GRESEL-UNED logo">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#page-nav" aria-controls="page-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="page-nav">
            <ul class="navbar-nav align-items-lg-center">
                {%- assign navItems = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nil' -%} 
                {% for nav in navItems %}
                {% if nav.stub %}
                <li class="nav-item">
                    <a class="nav-link{% if page.url == nav.stub %} active{% endif %}" href="{{ nav.stub | relative_url }}">{{ nav.display_name }}</a>
                </li>
                {%- else -%}
                <li class="nav-item dropdown">
                    {% assign navChildren = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nav.display_name' %}
                    {%- assign childStubs = navChildren | map: 'stub' -%}
                    <a class="nav-link dropdown-toggle{% if childStubs contains page.url %} active{% endif %}" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ nav.display_name }}</a>
                    <div class="dropdown-menu dropdown-menu-end">
                        {% for c in navChildren %}
                        <a class="dropdown-item{% if page.url == c.stub %} active{% endif %}" href="{{ c.stub | relative_url }}">{{ c.display_name }}</a>
                        {% endfor %}
                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>